<comment>
  <comment-body>{{id}}:{{author_id}} - {{json details}}</comment-body>

  <button onclick='show_hide("comment-{{id}}")'>comment</button>
  <comment-form id="comment-{{id}}" style="display: none">

    <input class="body" type="text" name="body", value="">
    <input class="comment" type="hidden" name="comment", value="{{json this}}">
    <button comment-topic="comment:add" type="button">Send</button>
  </comment-form>

</comment>
