{{#each this}}
  <item>
      <a href="/items/{{id}}">
        <img src="{{#if details.images}}{{details.images.[0]}}{{else}}/images/404.png{{/if}}" />
        <span class="title">{{name}}</span>
      </a>
      <h5>{{user_id}}</h5>
      <p>{{json details.rating.score}}</p>
  </item>
{{/each}}
