{{#each this}}
  <item>

    <div class="cover">
      <a href="/items/{{id}}">
        <img src="{{#if details.images}}{{details.images.[0]}}{{/if}}" />
      </a>
    </div>
    <div class="title">
      <a href="/items/{{id}}">
        {{name}}
      </a>
    </div>
    <div class="merchant">
      От
      <a href="/users/{{user_id}}">
        {{user_id}}
      </a>
    </div>
    <div class="price">{{json details.price}} лв.</div>
    <div class="rating">
      <a href="/items/{{id}}#tab-ratings">
        Rating: {{json details.rating.score}}
      </a>
    </div>
    <div class="comments">
      <a href="/items/{{id}}#tab-comments">
        Comments: {{json details.comments_count}}
      </a>
    </div>

  </item>
{{/each}}
