{{#each this}}
  <user class="block-item">
    <div class="entry-content">
      <a href="/users/{{id}}">
        <img src="{{image}}" />
        <h1 class="entry-title">{{first_name}} &nbsp; {{last_name}}</h1>
      </a>
      <p>{{json details}}</p>
    </div>
  </user>
{{/each}}
