{{#each this}}
  <user>
      <a href="/users/{{id}}">
        <img src="{{image}}" />
        <span class="title">{{first_name}} &nbsp; {{last_name}}</span>
      </a>
      <p>{{json details.rating.score}}</p>
  </user>
{{/each}}
