{{#each this}}
    <tr>
      <td>{{first_name}}</td>
      <td>{{last_name}}</td>
      <td>{{json details}}</td>

      <td>
        <a href="/users/{{id}}">Show</a>
        <a href="/users/{{id}}/edit">Edit</a>
        <a data-confirm="Are you sure?" data-csrf="bx1MCAgkMUIgDCcbJj4GGhcCBnl8AAAAD+8RdIr3FtlxLlAwdhA3Ow==" data-method="delete" data-to="/users/{{id}}" href="/users/{{id}}" rel="nofollow">Delete</a>
      </td>
    </tr>
{{/each}}
